.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.5);
  transition: all 300ms ease-in-out;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  overflow: hidden;
  padding: 3px;
  margin: 0;
  background: rgb(128 128 128 / 0.2);
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.inner {
  border-radius: 7px;
  padding: 10px;
  width: 210px;
  height: 150px;
  background: rgb(26, 26, 26);
  backdrop-filter: blur(80px);
  transition: all 300ms ease-in-out;
}

.card:hover > .inner {
  background: rgb(26, 26, 26, 0.6);
  backdrop-filter: blur(80px);
}
